Chapter_1/__pycache__/__init__.cpython-311.pyc
Chapter_2/__pycache__/__init__.cpython-311.pyc
Chapter_3/__pycache__/__init__.cpython-311.pyc
Chapter_1/__pycache__/
Chapter_2/__pycache__/
Chapter_3/__pycache__/

